@import '../css/_settings.scss';
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden; // background-image: url("/assets/img/background.jpg");
    // background-size: cover;
    // background-position: center;
}

.navbar .logo {
    height: 2rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 2rem;
    .left,
    .right {
        display: inline-flex;
    }
}

.homepage {
    padding: 0;
}

.login,
.upload {
    position: relative;
}

.map {
    height: 100%;
    width: 100%;
    transition: none;
    /deep/ * {
        transition: none;
    }
}

.map-container { 
    height: calc(100vh - 8rem);
    margin: 0 2rem;
    margin-top: 2rem;
    position: relative;
}

.left-box { 
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 15%;
    background-color: black;
}

.right-box { 
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 15%;
    background-color: #f72525;
}

.anchor { 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}