:host {
    display: flex;
    text-align: left;
    flex-direction: row;
    position: absolute;
    display: block;
    right: -1rem;
    width: 20rem;
    padding: 1rem;
    border-radius: .25rem;
    margin-top: .5rem;
}

.login {
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 0;
    text-align: center;
}

// app-login
// *     position: absolute;
// display: block;
// right: -1rem;
// width: 20rem;
// padding: 2rem 1rem;
// border-radius: .25rem;
// margin-top: .5rem;
// }
// Mat-elevation-z3
// .login
// *
// }
