*,
*:before,
*:after {
    box-sizing: border-box;
    transition: all .28s ease-in-out;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

// .has-danger {
//     .mat-input-ripple {
//         background-color: $danger-color;
//     }
//     &.mat-focused .mat-input-placeholder,
//     .mat-input-placeholder {
//         color: $danger-color;
//     }
//     .mat-input-underline {
//         background-color: $danger-color;
//     }
// }

// .mat-input-ripple {
//     background-color: $accent-color;
// }

// .mat-focused .mat-input-placeholder {
//     color: $accent-color;
// }

.mat-input-container {
    display: block!important;
}

